.body{
    background-color: #333; 
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* barra de navegação */
nav {
    background-color: #d3d3d3;
    padding: 10px;
    display: flex;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #808080;
}

.btn-menu {
    background-color: #d3d3d3; 
    color: white; 
    border: none;
    padding: 14px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px; 
}
.btn-menu:hover {
    background-color: #808080;
}

/* seção de introdução */
#introducão{
    padding: 40px;
    text-align: center;
    border-top: 1px solid #ddd;
}

/* seção de serviços */
#servicos {
    padding: 40px;
    text-align: center;
}

#servicos h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#servicos p {
    font-size: 18px;
    margin-bottom: 40px;
}

#servicos .servico-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#servicos .servico-card {
    background-color: #000;
    color: #fff;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#servicos .servico-card h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

#servicos .servico-card p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Seção de Contato */
#contato {
    padding: 40px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #fff;
}

#contato h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#contato p {
    font-size: 18px;
    margin-bottom: 30px;
}

.informacoes-contato {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.contato-item {
    flex: 1;
    text-align: left;
}

.contato-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contato-item p {
    font-size: 16px;
}

